html {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

/* img:hover {
    opacity: 0.3;
    transition: opacity .2s, visibility .2s;
  } */

.textOver {
    opacity:0;
}
.textOver:hover {
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

.imgOver img {
    opacity:1;
}

.imgOver:hover img {
    opacity:.3;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

.smLink {
    display: inline-block;
}